<head>
	<meta charset="UTF-8">
	<title>{% if page.title %}{{page.title}} - {{site.title}}{% else %}{{site.title}}{% endif %}</title>
	<meta name="description" content="{{ page.description }}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" href="{{ "/assets/img/favicon/favicon.ico " | prepend: site.baseurl }}" type="image/x-icon">
	<link rel="apple-touch-icon" sizes="57x57" href="{{ "/assets/img/favicon/apple-icon-57x57.png " | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" sizes="60x60" href="{{ "/assets/img/favicon/apple-icon-60x60.png " | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ "/assets/img/favicon/apple-icon-72x72.png " | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" sizes="76x76" href="{{ "/assets/img/favicon/apple-icon-76x76.png " | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ "/assets/img/favicon/apple-icon-114x114.png " | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" sizes="120x120" href="{{ "/assets/img/favicon/apple-icon-120x120.png " | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" sizes="144x144" href="{{ "/assets/img/favicon/apple-icon-144x144.png " | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" sizes="152x152" href="{{ "/assets/img/favicon/apple-icon-152x152.png " | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/img/favicon/apple-icon-180x180.png " | prepend: site.baseurl }}">
	<link rel="icon" type="image/png" sizes="192x192" href="{{ "/assets/img/favicon/android-icon-192x192.png " | prepend: site.baseurl }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/img/favicon/favicon-32x32.png " | prepend: site.baseurl }}">
	<link rel="icon" type="image/png" sizes="96x96" href="{{ "/assets/img/favicon/favicon-96x96.png " | prepend: site.baseurl }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/img/favicon/favicon-16x16.png " | prepend: site.baseurl }}">
	<link rel="manifest" href="{{ "/assets/img/favicon/manifest.json " | prepend: site.baseurl }}">
	<meta name="msapplication-TileColor" content="#311e3e">
	<meta name="msapplication-TileImage" content="{{ "/assets/img/favicon/ms-icon-144x144.png " | prepend: site.baseurl }}">
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#311e3e">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#311e3e">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#311e3e">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Pontano+Sans%7cRaleway" rel="stylesheet">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="{{ "/assets/fonts/font-awesome/css/font-awesome.min.css " | prepend: site.baseurl }}">
	<!-- Styles -->
	<link rel="stylesheet" href="{{ "/assets/css/main.css " | prepend: site.baseurl }}">

	  <!-- other stuff in your site header like javascript or whatever above here -->

	  <meta name="twitter:card" content="summary_large_image">
	  <meta name="twitter:site" content="{{ site.twitter }}">
	  <meta name="twitter:creator" content="{{ site.twitter }}">
	  
	  <!-- hardcoding an image here so I don't have to worry about attaching an image to each blog post in the future  -->
	  
	  <meta property="og:image" content="{{ page.img | prepend: site.baseurl }}" />
	  <meta name="twitter:image:src" content="{{ page.img | prepend: site.baseurl }}">
	  <meta content="{{ site.title }}" property="og:site_name">
	
	  <!-- Set a page title, or default to site title if missing for some reason  -->
	
	  {% if page.title %}
		<meta name="twitter:title" content="{{ page.title }}">
		<meta content="{{ page.title }}" property="og:title">
		<meta content="article" property="og:type">
	  {% else %}
		<meta name="twitter:title" content="{{ site.title }}">
		<meta content="{{ site.title }}" property="og:title">
		<meta content="website" property="og:type">
	  {% endif %}
	
	  <!-- set page description or default to site description  -->
	
	  {% if page.description %}
		<meta name="twitter:description" content="{{ page.description }}">
		<meta content="{{ page.description }}" property="og:description">
	  {% else %}
		<meta name="twitter:description" content="{{ site.description }}">
		<meta content="{{ site.description }}" property="og:description">
	  {% endif %}
	
	  {% if page.url %}
		<meta name="twitter:url" content="{{ page.url| prepend: site.url }}">
		<meta content="{{ page.url | prepend: site.url }}" property="og:url">
	  {% endif %}
	
	  {% if page.date %}
		<meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
	  {% endif %}
	  {% if page.image %}
		<meta content="{{ page.img | prepend: site.baseurl }}" property="og:image">
		<meta property="og:image" content="{{ site.url }}/img/twitter_card2.png" />
	  {% else %}
		<meta content="{{ page.img | prepend: site.baseurl }}" property="og:image">
	  {% endif %}
	
	  {% if page.categories %}
		{% for category in page.categories limit:1 %}
		<meta content="{{ category }}" property="article:section">
		{% endfor %}
	  {% endif %}
		
	  {% if page.tags %}
		{% for tag in page.tags %}
		<meta content="{{ tag }}" property="article:tag">
		{% endfor %}
	  {% endif %}
</head>
