<div class="recent-box">
  <h2 class="recent-title">Recent post</h2>
  <div class="recent-list">
    {% for post in site.posts offset:0 limit:4 %}
      {% if post.title %}
        {% if site.baseurl == '/' %}
          <a href="{{ post.url }}" class="recent-item" style="background: url({{"/assets/img/" | append : post.img}}) center no-repeat; background-size: cover;"><span>{{ post.title }}</span></a>
        {% else %}
          <a href="{{ site.baseurl }}{{ post.url }}" class="recent-item" style="background: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}}) center no-repeat; background-size: cover;"><span>{{ post.title }}</span></a>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</div> <!-- End Recent-Box -->
